<!DOCTYPE html>
<html>
  <body>
    <h1><%= @user.first_name %>'s profile</h1>

    <h2>Rewards:</h2>
    <% @user.rewards.each do |reward| %>
      <p>Project: <%= reward.project.title %></p>
      <p>received <%= reward.description %>
         by pledging <%= number_to_currency(reward.dollar_amount) %></p>
    <% end %>

    <h2>Pledges:</h2>
    <p>Total pledged: <%= @user.pledges.sum(:dollar_amount) %></p>
    <% @user.pledges.each do |pledge| %>
      <p>Project: <%= pledge.project.title %></p>
      <p>pledged <%= number_to_currency(pledge.dollar_amount) %></p>
    <% end %>

<% if current_user == @user %>
    <h2>Projects:</h2>
    <%= Project.where(:user_id => session[:user_id]) %>
    <!-- <% @user.projects.each do |project| %>
    <p>Projects owned: <%= @user.projects(:title) %></p> -->
    <!-- <p>Pledges earned: <%= @user.pledges.sum(:dollar_amount) %></p> -->
    <!-- <% end %> -->
<% end %>
  </body>
</html>
